table.responsive-table th {
    cursor: pointer;
}
.app {
    padding-top: 120px;
}

.navbar {
    height: 50px;
    padding: 0 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar a {
    color: white;
    line-height: 3em;
}

.table-area {
    position: relative;
    z-index: 0;
    margin-top: 50px;
}

table.responsive-table {
    display: table;
    /* required for table-layout to be used (not normally necessary; included for completeness) */
    table-layout: fixed;
    /* this keeps your columns with fixed with exactly the right width */
    width: 100%;
    /* table must have width set for fixed layout to work as expected */
    height: 100%;
}

table.responsive-table thead {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    line-height: 3em;
    background: #eee;
    table-layout: fixed;
    display: table;
}

table.responsive-table th {
    background: #eee;
    vertical-align: top !important;
}

table.responsive-table td {
    line-height: 2em;
}

table.responsive-table tr > td,
table.responsive-table th {
    text-align: left;
}

.glyphicon
{
    z-index : -5;
}